{% include "header.html" %}

<div class="container container-body">

  <h1>“Find a Doc!”</h1>

  <p>This is an application that will help patients within the New York state area to locate a list of Medicaid Provider</p>
  <br>
<br>  <hr>

  <!-- <button
  class="bx--btn bx--btn--primary"
  type="submit" value="search">
Search
</button> -->

  <button class="">
  <p><a href="/general_search" class="bx--btn bx--btn--primary">Find a Provider by Facility Name</a></p>
  </button>
  <!-- &nbsp; -->

  <button class="">
  <p><a href="/specialty_search" class="bx--btn bx--btn--primary">Search by Specialty</a></p>
  </button>

  <!-- &nbsp; -->
  <button class="">
  <p><a href="/custom_search"class="bx--btn bx--btn--primary">Custom Search</a></p>
  </button>

  <!-- &nbsp; -->
  <button class="">
  <p><a href="/search_most_ouccurinig" class="bx--btn bx--btn--primary">Find the Most Occuring Provider</a></p>
  </button>

  <hr>

</div>

{% include "footer.html" %}
